@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #ff8585;
  --primary-color-light: #ff9d9d;
  --bg-color: #212529;
  --body-color: #f1f3f5;
  --light-gray: #868e96;
  --dark-gray: #1b1f22;
}

/* Default Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* *:focus {
  stroke: #ffcece;
} */

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--body-color);
  overflow-x: hidden;
  width: 100vw;
}

.section {
  padding: 12rem 13rem;
}

h3 {
  color: var(--primary-color-light);
  font-size: 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 6.7rem;
}

/* Hero Section */

header {
  padding: 4rem 13rem 23.1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}

.nav-link a:link,
.nav-link a:visited {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--light-gray);
  text-decoration: none;
  transition: color 300ms ease-in-out;
}

.nav-link a:hover,
.nav-link a:active {
  color: var(--primary-color-light);
}

.logo {
  width: 20rem;
  height: 15rem;
  transform: translateX(-6rem);
}

.intro-line {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--primary-color-light);
  margin-top: 23rem;
  position: relative;
}

.arrow {
  position: absolute;
  width: 16rem;
  height: 17rem;
  left: 48rem;
  top: 42rem;
}

h1 {
  font-size: 11rem;
  line-height: 100%;
  margin: 11rem 0 2.1rem;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--light-gray);
  max-width: 80rem;
}

/* About Section */

.section--about {
  background-color: var(--dark-gray);
}

.bio {
  font-size: 2rem;
  line-height: 155%;
  margin-bottom: 9rem;
}

.features-container {
  display: grid;
  grid-template-columns: 36rem 36rem;
  column-gap: 6rem;
  row-gap: 9rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.8rem;
}

.feature-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

h4 {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--light-gray);
}

.feature-icon {
  font-size: 2.6rem;
  color: var(--light-gray);
}

.feature-description {
  color: var(--body-color);
  font-size: 2rem;
  line-height: 150%;
}

/* Testimonials Section */

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.1rem;
}

.testimonial {
  background-color: #1b1f22;
  padding: 3.8rem 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.1rem;
}

.testimonial-img {
  width: 17.5rem;
  height: 17.5rem;
  object-fit: cover;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 7.5rem;
}

blockquote {
  color: var(--body-color);
  font-size: 2rem;
  line-height: 140%;
  text-align: left;
  font-weight: 400;
}

.testimonial-author {
  color: var(--primary-color-light);
  font-size: 1.4rem;
  font-weight: 500;
}

/* Projects Section */

.section--projects {
  background-color: var(--dark-gray);
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.1rem;
  padding-right: 6rem;
}

.project-img {
  height: 30rem;
  width: 38rem;
  object-fit: cover;
  object-position: center left;
  /* border: solid 1px var(--primary-color-light); */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

/* .project-img:first-child {
  object-position: -1rem center !important;
} */

.project-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-description {
  text-align: left;
  font-size: 1.8rem;
  color: var(--body-color);
  line-height: 140%;
  margin-bottom: 1.8rem;
}

.project-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.4rem;
  margin-bottom: 6.9rem;
}

.website-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.website-link span {
  font-size: 2rem;
  color: var(--primary-color);
  transition: all 300ms ease-in-out;
}

.website-link span:hover,
.website-link span:active {
  color: var(--primary-color-light);
}

.link-icon {
  color: var(--primary-color);
  height: 2.2rem;
  width: 2rem;
}

.project-stack-container {
  display: flex;
  align-items: center;
}

.stack-icon {
  color: var(--light-gray);
  width: 6rem;
  height: 6rem;
}

.stack-icon:last-child {
  transform: translateX(4px);
}

/* Contact Section */

.contact-form {
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
}

.form-container {
  padding: 6.4rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6.4rem;
}

.form-container p,
h5 {
  color: var(--body-color);
}

.form-container p {
  font-size: 2rem;
  line-height: 125%;
  margin-bottom: 5px;
  padding-right: 12rem;
}

h5 {
  font-size: 4.8rem;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

label {
  font-size: 1.6rem;
  color: #bbbcbd;
}

input {
  height: 6rem;
}

input,
textarea {
  width: 50rem;
}

input:not(.submit-btn) {
  padding: 0 1rem;
  font-size: 2rem;
}

input:not(.submit-btn),
textarea {
  background-color: var(--bg-color);
  border: solid 1px var(--light-gray);
  color: var(--body-color);
  transition: all 300ms ease-in-out;
}

input:not(.submit-btn):hover,
input:not(.submit-btn):active {
  background-color: #323538;
}

textarea {
  padding: 1rem;
  font-size: 1.6rem;
}

/* input:not(.submit-btn):focus {
  background-color: #fff5f5;
} */

.submit-btn {
  background-color: var(--primary-color);
  color: var(--dark-gray);
  font-size: 2.8rem;
  font-weight: 500;
  border: none;
  font-family: "Inter", sans-serif;
  transition: all 300ms ease-in-out;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: var(--primary-color-light);
}

.contact-img {
  width: 46rem;
}

/* Footer */

footer {
  padding: 13rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 2px var(--dark-gray);
  margin-top: 27rem;
}

.copyright,
.year {
  color: var(--body-color);
  font-size: 1.6rem;
  margin-bottom: 3.8rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: var(--light-gray);
}

.footer-icon {
  width: 6.4rem;
  height: 6.4rem;
  color: var(--light-gray);
}
