@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #ff8585;
  --primary-color-light: #ff9d9d;
  --bg-color: #212529;
  --body-color: #f1f3f5;
  --light-gray: #868e96;
  --dark-gray: #1b1f22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--body-color);
  overflow-x: hidden;
  width: 100vw;
}

header {
  padding: 4rem 13rem 23.1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20rem;
  height: 15rem;
  transform: translateX(-6rem);
}

.intro-line {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--primary-color-light);
  margin-top: 23rem;
  position: relative;
}

.arrow {
  position: absolute;
  width: 16rem;
  height: 17rem;
  left: 48rem;
  top: 42rem;
}

h1 {
  font-size: 11rem;
  line-height: 100%;
  margin: 11rem 0 2.1rem;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--light-gray);
  max-width: 80rem;
}

.section {
  padding: 12rem 13rem;
}

.section--about {
  background-color: var(--dark-gray);
}

h3 {
  color: var(--primary-color-light);
  font-size: 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 6.7rem;
}

.bio {
  font-size: 2rem;
  line-height: 155%;
  margin-bottom: 9rem;
}

.features-container {
  display: grid;
  grid-template-columns: 30rem 30rem;
  column-gap: 12rem;
  row-gap: 9rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.8rem;
}

.feature-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

h4 {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--light-gray);
}

.feature-icon {
  font-size: 2.6rem;
  color: var(--light-gray);
}

.feature-description {
  color: var(--body-color);
  font-size: 2rem;
  line-height: 150%;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.1rem;
}

.testimonial {
  background-color: #1b1f22;
  padding: 3.8rem 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.1rem;
}

.testimonial-img {
  width: 17.5rem;
  height: 17.5rem;
  object-fit: cover;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 7.5rem;
}

blockquote {
  color: var(--body-color);
  font-size: 2rem;
  line-height: 140%;
  text-align: left;
  font-weight: 400;
}

.testimonial-author {
  color: var(--primary-color-light);
  font-size: 1.4rem;
  font-weight: 500;
}
